<footer class="footer">
  <small>
    Look at this sweet app, by Jeff Marks.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'http://www.rejectionhotline.com', target: :_blank %></li>
      <li><%= link_to "Flatiron", 'http://www.flatironschool.com', target: :_blank %></li>
    </ul>
  </nav>
</footer>
